---
import Layout from "@/layouts/Layout.astro";
import { GhostSelector } from "@/components/ghost-selector";
---

<Layout>
  <div class="container gap-24 mt-24 flex items-center  justify-center"><GhostSelector client:load /></div>
</Layout>
