---
import "@/index.css";
import { Github } from "lucide-react";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>RKG Viewer</title>
  </head>
  <body>
    <header class="fixed top-0 z-50 w-full border-b bg-background/90">
      <div class="container flex items-center h-12 justify-between">
        <span>RKG Viewer</span>
        <div class="flex gap-5">
          <a href="https://github.com/nacho-cs/rkgviewer"><Github /></a>
          <a href="https://github.com/nacho-cs/rkgviewer/commits"
            >View Commits</a
          >
        </div>
      </div>
    </header>
    <slot />
  </body>
</html>
